1.To demonstrate table creation and perform insert with SQL Using Python code (SQLite)

In [5]:
import sqlite3 
  
connection = sqlite3.connect("myTable.db") 
crsr = connection.cursor() 
   
sql_command = """CREATE TABLE emp (  
staff_number INTEGER PRIMARY KEY,  
fname VARCHAR(20),  
lname VARCHAR(30),  
gender CHAR(1),  
joining DATE);"""
   
crsr.execute(sql_command)  
sql_command = """INSERT INTO emp VALUES (23, "Rishabh", "Bansal", "M", "2014-03-28");"""
crsr.execute(sql_command)  
sql_command = """INSERT INTO emp VALUES (1, "Bill", "Gates", "M", "1980-10-28");"""
crsr.execute(sql_command) 
connection.commit() 
connection.close()

# Output

sqlite> select * from emp;

1|Bill|Gates|M|1980-10-28

23|Rishabh|Bansal|M|2014-03-28

2.Create the XML File Containing name; ID; address; city; pincode for the following four persons and read to print those information in the xml file using minidom python class.

In [10]:
from xml.dom.minidom import parse
import xml.dom.minidom
DOMTree = xml.dom.minidom.parse("persons.xml")
collection = DOMTree.documentElement
persons = collection.getElementsByTagName("Person")
for person in persons:
    print( "*****Person*****")
    name = person.getElementsByTagName('Name')[0]
    print("Name: %s" % name.childNodes[0].data)
    id = person.getElementsByTagName('ID')[0]
    print("ID: %s" % id.childNodes[0].data)
    city = person.getElementsByTagName('City')[0]
    print("City: %s" % city.childNodes[0].data)
    pin = person.getElementsByTagName('Pincode')[0]
    print("Pincode: %s" % pin.childNodes[0].data)
    add = person.getElementsByTagName('Address')[0]
    print("Address: %s" % add.childNodes[0].data)

*****Person*****
Name: Tanmaya Harichandan
ID: RA1811003010282
City: Gurgaon
Pincode: 122001
Address: Ashok Vihar Phase 2
*****Person*****
Name: Vaibhav Suwalka
ID: RA1811003010284
City: Kota
Pincode: 324005
Address: Mahavir Nagar
*****Person*****
Name: Abhinav Tripathi
ID: RA1811003010281
City: Allahabad
Pincode: 210004
Address: Shivkuti
*****Person*****
Name: Manasa Ranjan
ID: RA1811020101212
City: Gurgaon
Pincode: 122001
Address: Ashok Vihar Phase 2

3.Create HTML file using python and print those information.

In [23]:
import IPython
f = open('helloworld.html','w')
message = """<html>
<head></head>
<body><p>Hello World!</p></body>
</html>"""
f.write(message)
f.close()
IPython.display.HTML('helloworld.html')

4.Write a program to  Selects latitudes and longitudes using SQLite database to be stored in a file.db using Python

In [15]:
import sqlite3
connection=sqlite3.connect("file.db")
crsr=connection.cursor()
sql_command="""SELECT lat,long FROM Coordinates;"""
crsr.execute(sql_command)
rows=crsr.fetchall()
for i in rows:
    print(i)

('12.823N', '80.044E')
('28.459N', '77.0266E')
('20.2961N', '85.8245E')

5.Create two table using SQlite and have id as one of the column attribute and compare id with two table and if the same id is present in the two tables, print all the following information present with the id in two tables one by one.

In [28]:
import sqlite3 
  
connection = sqlite3.connect("Table.db") 
crsr = connection.cursor() 
   
sql_command = """CREATE TABLE Students (  
id INTEGER PRIMARY KEY,  
fname VARCHAR(20),  
lname VARCHAR(30));"""
   
crsr.execute(sql_command)  
sql_command = """INSERT INTO Students VALUES (281, "Abhinav", "Tripathi");"""
crsr.execute(sql_command)  
sql_command = """INSERT INTO Students VALUES (282, "Tanmaya","Harichandan");"""
crsr.execute(sql_command)
sql_command = """INSERT INTO Students VALUES (284, "Vaibhav","Suwalka");"""
crsr.execute(sql_command) 
sql_command = """INSERT INTO Students VALUES (022, "Nilay","Baranwal");"""
crsr.execute(sql_command)
sql_command = """INSERT INTO Students VALUES (008, "Shreyas","Swaminathan");"""
crsr.execute(sql_command)
connection.commit()
sql = """CREATE TABLE CSE (  
id INTEGER PRIMARY KEY,  
fname VARCHAR(20),  
lname VARCHAR(30));"""
crsr.execute(sql)  
sql= """INSERT INTO CSE VALUES (281, "Abhinav", "Tripathi");"""
crsr.execute(sql)  
sql= """INSERT INTO CSE VALUES (282, "Tanmaya","Harichandan");"""
crsr.execute(sql)
sql= """INSERT INTO CSE VALUES (284, "Vaibhav","Suwalka");"""
crsr.execute(sql) 
sql = """INSERT INTO CSE VALUES (022, "Nilay","Baranwal");"""
crsr.execute(sql)
connection.commit()
comm="""SELECT A.fname,A.lname FROM Students A,CSE B WHERE A.id=B.id """
crsr.execute(comm)
rows=crsr.fetchall()
for i in rows:
    print(i)

('Nilay', 'Baranwal')
('Abhinav', 'Tripathi')
('Tanmaya', 'Harichandan')
('Vaibhav', 'Suwalka')

6.Implement using pyDatalog:
Assume given a set of facts of the form father(name1,name2) (name1 is the father of name2).
    a. Define a predicate brother(X,Y) which holds iff X and Y are brothers.
    b. Define a predicate cousin(X,Y) which holds iff X and Y are cousins.
    c. Define a predicate grandson(X,Y) which holds iff X is a grandson of Y.
    d. Define a predicate descendent(X,Y) which holds iff X is a descendent of Y.
    e. Consider the following genealogical tree:
        a
       / \
      b   c
     / \  |
    d   e f
What are the answers generated by your definitions for the queries:
   brother(X,Y)
   cousin(X,Y)
   grandson(X,Y)
   descendent(X,Y)

In [1]:
from pyDatalog import pyDatalog
pyDatalog.create_terms("father,cousin,brother,Z,a,b,c,d,e,f,X,Y,W,grandson,descendent")
+ father (b,'d')
+ father (b,'e')
+ father (c,'f')
+ father (a,'b')
+ father (a,'c')
brother(X, Y) <= father(Z, X) & father(Z, Y) and not (X==Y)
cousin(X, Y) <= father(Z, X) & father(W, Y) & brother(Z, W)
grandson(X, Y) <= father(Z, X) & father(Y, Z)
descendent(X, Y) <= father(Y, X)
descendent(X, Y) <= father(Z, X) & descendent(Z, Y)
print(brother(X,Y))
print(cousin(X,Y))
print(grandson(X,Y))
print(descendent(X,Y))

X | Y
--|--
c | b
c | c
b | c
b | b
f | f
e | e
e | d
d | d
d | e
X | Y
--|--
f | e
e | d
f | d
d | d
d | e
d | f
e | e
e | f
f | f
X | Y
--|--
f | a
e | a
d | a
X | Y
--|--
d | b
e | b
f | c
b | a
c | a
d | a
e | a
f | a

7.Encode the following facts and rules in pyDatalog:
    • Bear is big
    • Elephant is big
    • Cat is small
    • Bear is brown
    • Cat is black
    • Elephant is gray
    • An animal is dark if it is black
    • An animal is dark if it is brown
Write a query to find which animal is dark and big.

In [2]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,bear,elephant,cat,big,Y,small,black,brown,grey,dark,size,colour,animal')
+ size (bear,'big')
+ size (elephant,'big')
+ size (cat,'small')
+ colour (bear,'brown')
+ colour (elephant,'grey')
+ colour (cat,'black')
dark(X) <= colour(X,'black')
dark(X) <= colour(X,'brown')
print(dark(X)  & size(X,'big'))

X
----
bear

8.The following are the marks scored by 5 students.
Student Name   	Mark
Ram			90
Raju			45
Priya			85
Carol			70
Shyam		80
Enter the above data using pyDatalog.
Write queries for the following:
    a. Print Student name and mark of all students.
    b. Who has scored 80 marks?
    c. What mark has been scored by Priya?
    d. Write a rule ‘passm’ denoting that pass mark is greater than 50. Use the rule to print all students who failed.
    e. Write rules for finding grade letters for a marks and use the rule to find the grade letter of a given mark.

In [21]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('X,Y,Z,marks,passm,grade')
marks['Ram']=90
marks['Raju']=45
marks['Priya']=85
marks['Carol']=70
marks['Shyam']=80
(passm[X]=='Pass') <= (marks[X]>=50)
(passm[X]=='Fail') <=(marks[X]<50)
print(marks[X]==Y,"\n")
print(marks[X]==80,"\n")
print(marks['Priya']==Y,"\n")
print(passm[X]=='Fail')
"""
if marks[X]>=90:grade[X]=="A"
elif marks[X]>=80 and marks[X]<90:grade[X]=="B"
elif marks[X]>=70 and marks[X]<80:grade[X]=="C"
elif marks[X]>=60 and marks[X]<70:
    grade[X]=="D"
elif marks[X]>=50 and marks[X]<60:
    grade[X]=="E"
elif marks<50:
    grade[X]=="F" 
print(grade[X])
"""

X     | Y
------|---
Ram   | 90
Shyam | 80
Priya | 85
Carol | 70
Raju  | 45

X
-----
Shyam

Y
--
85

X
----
Raju

'\nif marks[X]>=90:grade[X]=="A"\nelif marks[X]>=80 and marks[X]<90:grade[X]=="B"\nelif marks[X]>=70 and marks[X]<80:grade[X]=="C"\nelif marks[X]>=60 and marks[X]<70:\n    grade[X]=="D"\nelif marks[X]>=50 and marks[X]<60:\n    grade[X]=="E"\nelif marks<50:\n    grade[X]=="F" \nprint(grade[X])\n'

9.Solve the set of queries in the previous question using imperative programming paradigm in Python. Store the data in a dictionary.

In [10]:
def passm(mydict):
     for i in mydict:
        if mydict.get(i)<50:
             print(i)
def findgrade(marks):
    if marks>90:
        print ('\nA')
    elif marks>=80 and marks<90:
         print ('\nB')
    elif marks>=70 and marks<80:
             print ('\nC')
    elif marks>=60 and marks<70:
             print ('\nD')
    elif marks >= 50 and marks <60:
             print('\nE')
    elif marks<50:
             print ('\nF')
marks = {'Ram':90,'Raju':45,'Priya':85,'Carol':70,'Shyam':80}
for i in marks:
     print(i,marks.get(i),"\n")
for i in marks:
     if marks.get(i)==80:
        print(i,"\n")
print(marks.get('Priya'),"\n")
passm(marks)
findgrade(85)

Ram 90

Raju 45

Priya 85

Carol 70

Shyam 80

Shyam

85

Raju

B

10.Write a recursive program to find factorial of a number using pyDatalog.

In [12]:
from pyDatalog import pyDatalog
pyDatalog.create_terms('factorial', 'N')
factorial[N] = N * factorial[N - 1]
factorial[1] = 1
x=int(input("Enter a number:"))
print(factorial[x] == N)

Enter a number:4
N
--
24